body{background:#f3f3f3;font-family:Arial;}
.container{width:92%;margin:auto;padding:20px;text-align:center;background:white;border-radius:16px;box-shadow:0 0 10px rgba(0,0,0,0.1);}
.pet-img{width:250px;border-radius:20px;margin:20px 0;}
button{padding:12px;margin:8px;border:none;border-radius:12px;font-size:18px;cursor:pointer;background:#ffcc66;}
.start-btn{background:#00aaff;color:white;}